---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: basic-auth
  namespace: kube-system 
spec:
  basicAuth:
    secret: basic-auth
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: kube-system 
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-api-prefix
  namespace: kube-system 
spec:
  stripPrefix:
    prefixes:
      - "/api"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: root-to-admin-redirect
  namespace: kube-system 
spec:
  redirectRegex:
    regex: "^/$"
    replacement: "/admin"
    permanent: true 
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: authentik-auth
  namespace: kube-system
spec:
  forwardAuth:
    address: "http://authentik-server.authentik.svc.cluster.local/outpost.goauthentik.io/auth/nginx"
    trustForwardHeader: true
    authResponseHeaders:
      - "Set-Cookie"
      - "X-authentik-username"
      - "X-authentik-groups"
      - "X-authentik-email"
      - "X-authentik-name"
      - "X-authentik-uid"