namespace: prod

service:
  port: 3000

image: gethomepage/homepage:v1

env:
  HOMEPAGE_ALLOWED_HOSTS: homepage.csnguyen.de

ingress:
  host: homepage.csnguyen.de
  annotations:
    # cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.middlewares: |
      kube-system-redirect-https@kubernetescrd
