apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "homepage.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "homepage.fullname" . }}
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    providers:
      openweathermap: openweathermapapikey
      weatherapi: weatherapiapikey
    title: Sony2k Homepage
    background:
      image: https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg
      opacity: 30 # 0-100
    layout:
      Websites:
        style: row
        columns: 3
      Data:
        style: row
        columns: 2
        header: false
      Public Services:
        style: row
        columns: 5
      Private Services:
        style: row
        columns: 5
      Social:
        style: row
        columns: 3
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
      hideVisitURL: true
    hideVersion: false
    useEqualHeights: true
    color: slate
    statusStyle: "dot"
    disableCollapse: true
    headerStyle: clean
  proxmox.yaml: ''
  custom.css: ''
  custom.js: ''
  bookmarks.yaml: |
    - Social:
      - Github:
        - icon: github-light.png
          href: https://github.com/Sony2k20
      - Linkedin:
        - icon: linkedin.png
          href: https://www.linkedin.com/in/cong-son-nguyen-8a86b520b/
      - Xing:
        - icon: /icons/xing.png
          href: https://www.xing.com/profile/CongSon_Nguyen/web_profiles?expandNeffi=true
  services.yaml: |
    - Websites:
        - csnguyen.de:
            icon: /icons/portfolio.png
            href: https://csnguyen.de
            widget:
              type: uptimekuma
              fields: ["up","uptime"]
              url: https://uptime-kuma.csnguyen.de
              slug: portfolio
        - katharinaniesche.de:
            icon: /icons/katy.ico
            href: https://katharinaniesche.de
            widget:
              type: uptimekuma
              fields: ["up","uptime"]
              url: https://uptime-kuma.csnguyen.de
              slug: niesche
        - blog.csnguyen.de:
            icon: /icons/angular.png
            href: https://blog.csnguyen.de
            widget:
              type: uptimekuma
              fields: ["up","uptime"]
              url: https://uptime-kuma.csnguyen.de
              slug: blog

    - Public Services:
        - Authentik:
            icon: authentik.png
            href: https://authentik.csnguyen.de   
        - ComfyUI:
            icon: comfy-ui.png
            href: https://comfyui.csnguyen.de
        - Flatnotes:
            icon: flatnotes.png
            href: https://notes.csnguyen.de
        - Grafana:
            icon: grafana.png
            href: https://grafana.csnguyen.de/d/k8s_views_nodes/kubernetes-views-nodes?orgId=1&from=now-1h&to=now&timezone=browser&var-datasource=prometheus&var-cluster=&var-resolution=30s&var-node=debian&var-instance=192.168.178.100:9100&refresh=30s
        - Grafana Loki:
            icon: loki.png
            href: https://grafana.csnguyen.de/d/venturenox-kubernetes-logs/venturenox-kubernetes-logs?orgId=1&from=now-30m&to=now&timezone=browser&var-namespace=prod&var-container=$__all&var-pod=$__all&var-search=&refresh=5m
        - Immich:
            icon: immich.png
            href: https://immich.csnguyen.de
        - IT-Tools:
            icon: it-tools.png
            href: https://it-tools.csnguyen.de       
        - Jellyfin:
            icon: jellyfin.png
            href: https://jellyfin.csnguyen.de
        - Nextcloud:
            icon: nextcloud.png
            href: https://nextcloud.csnguyen.de
        - Stirling PDF:
            icon: stirling-pdf.png
            href: https://pdf.csnguyen.de
        - Upsnap:
            icon: upsnap.png
            href: https://upsnap.csnguyen.de            
        - Uptime Kuma:
            icon: uptime-kuma.png
            href: https://uptime-kuma.csnguyen.de     

    - Private Services:
        - ArgoCD:
            icon: argo-cd.png
            href: https://argocd.csnguyen.de
        - Cloudbeaver:
            icon: cloudbeaver.png
            href: https://cloudbeaver.csnguyen.de 
        - JDownloader:
            icon: /icons/jdownloader3.png
            href: https://jdownloader.csnguyen.de   
        - Kubernetes:
            icon: kubernetes.png
            href: https://192.168.178.100:9999
        - MongoDB Compass:
            icon: mongodb.png
            href: https://mongodb-compass.csnguyen.de 
        - Openmediavault:
            icon: openmediavault.png
            href: https://omv.csnguyen.de
        - Pi-hole:
            icon: pi-hole.png
            href: https://pihole.csnguyen.de/admin
        - Portainer:
            icon: portainer-alt.png
            href: https://portainer.csnguyen.de
        - Prometheus:
            icon: prometheus.png
            href: https://prometheus.csnguyen.de   
        - Rancher:
            icon: rancher.png
            href: https://rancher.csnguyen.de

  widgets.yaml: |
    - greeting:
        text_size: xl
        text: Welcome To Sony2k's Server
    - resources:
        expanded: true
        cpu: true
        memory: true
        uptime: true
        refresh: 1000
        disk:
          - /disk1
    - search:
        provider: google
        target: _blank
    - openweathermap:
        latitude: 51.05089
        longitude: 13.73832
        units: metric
        provider: openweathermap
        apiKey: f6a706cd7353e28372de397ee950260c
        cache: 30
        format: 
          maximumFractionDigits: 1
  docker.yaml: ''
